appnope==0.1.2
backcall==0.2.0
cssselect==1.1.0
decorator==4.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.2
numpy==1.19.4
pandas==1.2.0
parsel==1.6.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
ptyprocess==0.7.0
Pygments==2.7.3
python-dateutil==2.8.1
pytz==2020.5
selenium==3.141.0
six==1.15.0
traitlets==5.0.5
urllib3==1.26.2
w3lib==1.22.0
wcwidth==0.2.5
